@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Define the spin animation */

/* styles.css */
.lottie-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin-left: auto;
    margin-right: auto;
    bottom: 70px; /* Adjust vertical position */
  }
  
  .lottie-animation {
    width: 120px; /* Smaller size for mobile */
    height: 120px;
  }
  
  /* Tablet (768px and up) */
  @media (min-width: 768px) {
    .lottie-container {
      bottom: 140px; /* Adjust vertical alignment */
    }
    .lottie-animation {
      width: 150px;
      height: 150px;
    }
  }
  
  /* Laptop/Desktop (1024px and up) */
  @media (min-width: 1024px) {
    .lottie-container {
      bottom: 30px; /* Adjust vertical alignment */
    }
    .lottie-animation {
      width: 200px;
      height: 200px;
    }
  }
  /* Custom Styling for the Span */
.custom-style {
  font-family: 'Lobster', cursive; /* Ensures the Lobster font is applied */
  letter-spacing: 0.05em; /* Adds spacing between letters for elegance */
  text-shadow: 2px 2px 4px rgba(185, 169, 169, 0.1); /* Subtle shadow for depth */
  text-transform: capitalize; /* Capitalizes the first letter for better aesthetics */
  background: linear-gradient(90deg, #63b5f6, #6753da); /* Gradient background */
  -webkit-text-fill-color: transparent; /* Makes the text color transparent */
}

/* Hover Effect */
.custom-style:hover {
  transform: scale(1.1); /* Slightly enlarges the text on hover */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* Enhances the shadow on hover */
}